html
    head   
        title= title
        link(href="main.css" rel="stylesheet")
    body
        h1= "KenzieGram"
        form(action="/upload" enctype="multipart/form-data" method="POST")
            input(type="file" name="my-file")
            button(type="submit")= "Upload"
        div(class="pictures" id="pictures")
            each picture in pictures  
                div(class="imageDiv")
                    img(src= "uploads/" + picture.filename class= "image" data-uploadTimeStamp= picture.uploadTimeStamp)
        script(src='main.js')