html
    head   
        title= title
        link(href="main.css" rel="stylesheet")

    body
        h1= "KenzieGram"
        h2= "Picture successfully uploaded"
        a(href= "./")= "Back"
        div(class= "imageDiv")
            img(src= "uploads/" + picture class="image")