#pictures {
    display: flex;
    flex-direction: column
}

.image {
    
    width: 150%;
    /* object-fit: scale-down; */
    /* object-fit: cover; */
    
}

.imageDiv {
    overflow: hidden;
    width : 20vw;
    height: 20vw;
    border: 1px solid black;
}